/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Font Declaration 
@font-face {
  font-family: 'Lobster-Regular';
  src: url('./lobster/Lobster-Regular.ttf')
}*/


/* Header Styles */
.header {
  background-color: rgb(225, 224, 237);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  /* Corrected border-bottom to include color */
  box-shadow: 0 7px 3px -1px rgba(0, 0, 0, 0.2);
}

.header h1 {
  width: 50%;
  margin-top: 8px;
}

.header h1 a img {
  width: 30%;
}

/* Button Styles */
a.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  margin: 16px;
}

/* Title Styles */
.title {
  margin-top: 10px;
  font-size: 60px;
  color: #000000;
  font-family: sans-serif;
}

/* Body Styles */
body {
  background-image: url('./backgroundhome.jpg');
  background-size: cover;
}

/* Input Styles */
input[type=text] {
  float: right;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 40%;
  font-size: 17px;
}